# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate*

# macOS
.DS_Store

# Temp
*.tmp
triagebot-code.zip
AWSCLIV2.pkg
planoutput.txt
